body {
  margin: 0px;
  font-family: sans-serif;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Timer */

.transBox {
  position: absolute;
}

.timerLightTheme {
  background: linear-gradient(
    rgba(245, 222, 179, 0.9),
    rgba(245, 222, 179, 0.9)
  );
  /* url("/Sources/Images/timer_bg.jpg");
  background-size: 100% 100%; */
}

.timerDarkTheme {
  background: linear-gradient(rgba(23, 23, 23, 0.7), rgba(23, 23, 23, 0.7));
  /* url("/Sources/Images/timer_bg.jpg");
  background-size: 100% 100%; */
}

.timeLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 1;
  font-weight: bolder;
}

.timerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 100%;
  height: 50px;
}

.timer_btn {
  /* width: 50px;
  height: 50px; */
  margin-left: 10px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #8208e6;
  cursor: pointer;
}

@media screen and (min-width: 801px) {
  .timer {
    width: 20vw;
    height: 15vw;
    font-family: sans-serif;
    display: flex;
    padding: 14px 32px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    /* position: static; */
  }
  .timer_btn {
    width: 50px;
    height: 50px;
  }
  .material-icons {
    height: 24px;
    width: 24px;
    font-size: 24px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  header {
    height: 20vh;
  }
  .timer {
    width: 65vw;
    height: 30vw;
    font-family: sans-serif;
    display: flex;
    padding: 14px 32px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }
  .timer_btn {
    width: 50px;
    height: 50px;
  }
  .material-icons {
    height: 24px;
    width: 24px;
    font-size: 24px;
  }
}

.timer_part {
  font-size: 36px;
  font-weight: bold;
}

.timer_btn-pomodoro {
  background-color: #d8860b;
}

.timer_btn-break {
  background-color: aqua;
}

.timer_btn-meditate {
  background-color: greenyellow;
}

.timer_btn-start {
  background: green;
}

.timer_btn-stop {
  background: red;
}

/* Mode Toggler */

#modeBG {
  z-index: -1;
  transition: 0.3s;
  justify-content: space-around;
  align-items: center;
}

.modeToggler {
  position: absolute;
  top: 5%;
  right: 5%;
  height: 50px;
  width: 150px;
}
label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background: #242424;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

label:after {
  content: "";
  width: 50%;
  height: 90%;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

header input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #ebebeb;
}
input:checked + label:after {
  left: 10px;
  transform: translateX(-5%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label,
label:after {
  transition: 0.3s;
}
label:active:after {
  width: 100%;
}

.lightMode {
  background: #fff;
}

.darkMode {
  background: #242424;
  color: #d8860b;
}

.pomoMode {
  background-color: #ffbd5a;
}

.breakMode {
  background-color: rgb(81, 255, 255);
}

.mediMode {
  background-color: rgb(200, 255, 117);
}

label img {
  position: absolute;
  width: 40px;
  top: 10px;
  z-index: 100;
}
label img.sun {
  left: 10px;
  fill: #fff;
  transition: 0.3s;
}
label img.moon {
  right: 10px;
  fill: #7e7e7e;
  transition: 0.3s;
}
input:checked + label img.sun {
  fill: #7e7e7e;
}
input:checked + label img.moon {
  fill: #fff;
}

/* Details */

.h3 {
  font-size: 20px;
}

.details {
  margin: 20px auto;
  padding: 20px;
  width: 70%;
  height: auto;
  background-color: wheat;
  font-family: sans-serif;
  font-size: 16px;
}

dl {
  padding: 0.5em;
  width: fit-content;
}

dt {
  width: fit-content;
  text-align: right;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

a {
  color: red;
  text-decoration: none;
}

.paragraph {
  font-family: sans-serif;
  font-size: 16px;
  /* padding-bottom: 15px; */
}

@media screen and (min-width: 801px) {
  #modeBG {
    display: flex;
    height: 100vh;
  }
  .mobile {
    display: none;
  }
}

/* If the screen size is 800px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  #modeBG {
    display: block;
    height: auto;
  }

  .pc {
    display: none;
  }
}
